:root {
    --main-bg-color: blue;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    text-align: center;
}

div {
    background-color: white;
    margin: 20px 20px;
    width: 100px;
    height: 50px;
}